*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.parent{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    margin: auto;
    gap: 30px;
}
.child{
    padding: 20px;
    background-color: blue;
    color: chartreuse;
    width: 500px;
    height: 200px;
}
.child p{
    padding-top: 10px;
}
