h1{
    color: azure;
    background-color: black;
}
h2{
    color: blueviolet;
    background-color: cadetblue;
}
h3{
    color: blue;
    background-color: burlywood;
}
h4{
    color: chartreuse;
    background-color: blueviolet;
}
p{
    color: whitesmoke;
    background-color: chocolate;
}
div{
    color: crimson;
    background-color: chartreuse;
}